.ticketListCardContainer {
width: 90%;
text-align: center;
}

.ticketListDesign {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;

}


@media (max-width: 768px) {
    .ticketListCardContainer {
      font-size: 50%;
      padding-right:0.5em;
padding-left:0.5em;
    }
  }
  
  .detailTicketButton {
    user-select: none;
    cursor: pointer;
    color: rgb(8, 8, 190);
    padding: 0.3em;
    margin: 0;
    font-size: 90%;
    font-weight: bold;
  }

  .detailTicketButton:hover {
text-decoration: underline;
  }