.ticketListCardContainer {
width: 90%;
text-align: center;
}

.ticketListDesign {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;

}



  .detailTicketButton {
    user-select: none;
    cursor: pointer;
    color: rgb(8, 8, 190);
    padding: 0.3em;
    margin: 0;
    font-size: 90%;
    font-weight: bold;
  }

  .detailTicketButton:hover {
text-decoration: underline;
  }

  .closeButtonModal {
    height: 2em;
    width: 2em;
    padding: 0;
    margin:0;
    border-top-right-radius: 1em;
    background-color: rgb(169, 8, 8);
    border:0;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left: -2em;
  }

  .closeButtonModal:hover {
    background-color: red;

  }




  @media (max-width: 768px) {
    .ticketListCardContainer {
      font-size: 50%;
      padding-right:0.5em;
padding-left:0.5em;
    }
    .closeButtonModal {
      height: 2em;
      width: 2em;
padding: 0.1em;
font-weight: 200;
font-size: 90%;

}
}
  