.registerCard {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  
  .registerContainer {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .registerTitle {  
    font-size: 130%;
    user-select: none;
  }
  
  /* MEDIA PARA VERSION MOVIL */
  
  @media (max-width: 768px) {
    .registerCard {
      width: 75%;
    }

  }


  