.dashboardBackground {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(14, 47, 69);
}

.profileBar {
  height: auto;
  background-color: rgb(239, 239, 239);
  border-radius: 0.5em;
  padding: 1em;
}

.profileAvatar {
  border-radius: 50%;
  height: 12vh;
  width: 12vh;
  background-size: contain;
  background-position: center;
  margin: 0;
}

@media (max-width: 768px) {
  .profileBar {
    max-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

.dashboardContainer {
  height: 90vh;
  background-color: rgb(239, 239, 239);
  border-radius: 0.5em;
}

.profileAvatarContainer {
  height: 25%;
}

@media (max-width: 768px) {
  .profileAvatarContainer {
    height: 100%;
  }
}

.buttonDesign {
  background-color: #2f32d6;
  color: WHITE;
  border-radius: 0.3em;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  font-size: 80%;
  margin: 0.5em;
  width: 8em;
}

.buttonDesignNew {
  background-color: #3bbd0c;
  color: WHITE;
  border-radius: 0.3em;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  font-size: 80%;
  margin: 0.5em;
  width: 8em;
}

.buttonDesign:active {
  transform: scale(0.9);
}
.buttonDesignNew:active {
  transform: scale(0.9);
}

.userTitle {
  font-size: 90%;
  font-weight: 600;
  user-select: none;
}

.logoutDesign {
  font-size: 70%;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .userTitle {
    font-size: 70%;
  }
  .logoutDesign {
    font-size: 50%;
  }
  .buttonDesign {
    font-size: 70%;
  }
  .buttonDesignNew {
    font-size: 70%;
  }
}

.themeContainer {
  height: auto;
  background-color: #ef3c0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em;
  margin: 0.5em;
}

.themeContainerTitle {
  width: 85%;
  padding-left: 15%;
  font-weight: bold;
  user-select: none;
}

@media (max-width: 992px) {
  .themeContainerTitle {
    font-size: 90%;
  }
}
@media (min-width: 1200px) {
  .themeContainerTitle {
    font-size: 100%;
  }
}

.dropdownButtonTheme {
  display: flex;
  width: 15%;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.dropdownButtonTheme:active {
  transform: scale(0.9);
}
.categoryList {
  justify-content: start;
  align-items: start;
  font-size: 80%;
  user-select: none;
  cursor: pointer;
}

.categoryLabelDesign {
  font-size: auto;
  margin: 0.3em;
  width: 70%;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.224);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.categoryLabelDesign:hover {
  background-color: rgba(255, 255, 255, 0.224);
}

.categoryLabelDesign:active {
  transform: scale(0.9);
}

