.InputLabel {
  padding: 0.5em;
  height: 100%;
  width: 90%;
  font-size: 100%;
  border-radius: 0.5em;
  background-color: white;
  border: rgb(91, 91, 95) inset 0.15em;
  margin: 0.1em;
  text-align: center;
}

/* PSEUDO-CLASSES */

.InputLabel::placeholder {
  text-align: center;
}


.InputLabel:focus::placeholder {
  color: rgb(223, 220, 220);
  font-size: auto;
}

.InputLabel:focus {
  background-color: rgb(22, 31, 56);
  outline: none;
  box-shadow: inset 0px -0.2em orange;
  color:white;
}

.errorDesign {
  box-shadow: inset 0px -0.2em rgb(255, 0, 0);
}
