.InputLabel {
  padding: 0.5em;
  height: 100%;
  width: 100%;
  font-size: 100%;
  border-radius: 0.5em;
  background-color: white;
  border: rgb(91, 91, 95) inset 0.15em;
  margin: 0.1em;
  text-align: center;
}

/* PSEUDO-CLASSES */

.InputLabel::placeholder {
  text-align: center;
}



.InputLabel:focus {
  outline: none;
  color: black;
  box-shadow: 0 0 0.2em 0.1em rgba(203, 215, 255, 0.76);
}

.errorDesign {
  box-shadow: inset 0px -0.2em rgb(255, 0, 0);
}
