

.loginCard {
    width: 70%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    .loginContainer {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .loginTitle {
        font-size: 130%;
    }

    
    