.loginCard {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginContainer {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.loginTitle {
  font-size: 130%;
  user-select: none;
}

.errorMessageDesign{
  font-size: 90%;
  color: red;
  font-weight: bold;
}

/* MEDIA PARA VERSION MOVIL */

@media (max-width: 768px) {
  .loginCard {
    width: 75%;
  }
}

.loadingDesign{
  width: 3em;
  height: 3em;
}
