.buttonSendTicket {
  width: auto;
  background-color: #13920d;
  color: white;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 650;
  user-select: none;
  cursor: pointer;
  font-size: 90%;
}

.buttonCancelTicket {
  width: auto;
  background-color: #ff1c1c;
  color: white;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 650;
  user-select: none;
  cursor: pointer;
  font-size: 90%;
}



.buttonSendTicket:active {
  transform: scale(0.9);
}

.inputFormDesign {
  border: rgba(91, 91, 95, 0.498) inset 0.05em;
}

.inputFormDesign:focus::placeholder {
  color: black;
  font-size: auto;
  text-align: center;
}



  .ticketDetailCardContainer {
    width: 70%;
  background-color: white;
  border-radius: 1em;
  }


.contentBoxSide {
  width: 80%;
}

.inputTicketDetail {
  background-color: rgb(115, 132, 149);
  color: white;
  user-select: none;
 padding: 0.2em;
 border-radius: 0.5em;
 text-align: center; 
 user-select: none;
 box-shadow: 0.05em 0.05em black;
 font-size: 120%;
  }

  .categoryLabel {
     font-weight: 700;

  }

  .contentLabel {
    background-color: white;
    color: black;
    border-radius: 0.3em;
  }

  
  .contentLabelDescription {
    background-color: white;
    color: black;
    border-radius: 0.3em;
    font-size: 80%
  }


  .commentDesign {
    min-height: 8em;
    max-height: 16em;
    width: 100%;
    font-size: 100%;
    border-radius: 0.5em;
    border: rgba(91, 91, 95, 0.469) inset 0.05em;
    padding: 0.5em;
    text-align: start;
  }

  .commentTitleTicketDetail {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0.1em;
  }


  .cardDetailBackgroundDesign {
    background-color: transparent;
    border: 0;
    width: 100%;
  }
  @media (max-width: 576px) {
    .contentBoxSide {
      width: 95%;
    }
    .ticketDetailCardContainer {
      width: 100%;
    }
    .inputTicketDetail {
      font-size: 120%;
      }
  }