.titleContainer {
  border-bottom: 0.1em solid  #4b4d4be4;
}

.titleDesign {
  font-size: 130%;
  font-weight: bold;
  padding: 0.2em;
}

@media (min-width: 992px) {
  .titleDesign {
    font-size: 180%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}
