body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}


.homeBackground {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(141, 162, 172);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.credentialSlide {
  width: 35%;
  background-color: rgb(14, 47, 69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  color: white;
}

.imageSlide {
  min-height: 100vh;
  width: 65%;
  background: url(../../img/SATteamBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logoContainer {
  width: 60%;
  height: 30%;
  background: url(../../img/logoWhiteWWS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.notAccountRegist {
  font-weight: bold;
  color: rgb(2, 217, 255);
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notAccountRegist:active {
  transform: scale(0.9);
}

.notAccountRegist:hover {
  text-decoration: underline;
}

.notAccountRegistTitle {
  user-select: none;
}

.buttonLogin {
  width: 5em;
  background-color: #ff914d;
  color: black;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 650;
  user-select: none;
  cursor: pointer;
  font-size: 90%;
}

.buttonLogin:active {
  transform: scale(0.9);
}
/* MEDIA PARA VERSION MOVIL */
@media (max-width: 768px) {
  .imageSlide {
    height: 0;
    width: 0;
  }

  .credentialSlide {
    min-width: 100%;
height: 100;
  }
  .aboutCredentials {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.buttonRegister {
  height: 2em;
}
.notAccountRegistTitle {
  overflow: hidden;
}
.logoContainerRegister {
  padding: 25%;
}

}

