.rowCheck {
  background-color: red;
}

.buttonSendTicket {
  width: auto;
  background-color: #e2660d;
  color: black;
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 650;
  user-select: none;
  cursor: pointer;
  font-size: 90%;
}



.buttonSendTicket:active {
  transform: scale(0.9);
}

.inputFormDesign {
  border: rgba(91, 91, 95, 0.498) inset 0.05em;
  font-size: 120%;
}

.inputFormDesign:focus,
.commentDesign:focus {
  background-color: rgba(241, 241, 246, 0.564);
  outline: none;
  box-shadow: inset 0px -0.1em rgb(21, 54, 84);
  color: black;
}

.inputFormDesign:focus::placeholder {
  color: black;
  font-size: auto;
  text-align: center;
}

.commentDesign {
  min-height: 8em;
  max-height: 16em;
  width: 100%;
  font-size: 100%;
  border-radius: 0.5em;
  background-color: white;
  border: rgba(91, 91, 95, 0.469) inset 0.05em;
  padding: 0.5em;
}

@media (min-width: 992px) {
  .ticketFormCardContainer {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .ticketFormCardContainer {
    width: 60%;
  }
}

.FAQquestionDesign {
  width: 100%;
  background-color: rgb(14, 47, 69);
  color: white;
  padding: 0.3em;
  padding-bottom: 0.4em;
  border-radius: 0.3em;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.FAQquestionDesign:hover {
  background-color: rgb(12, 64, 98);
}

.FAQanswerDesign {
  margin-top: -0.35em;
  width: 100%;
  background-color: rgb(30, 97, 141);
  color: white;
  border-radius: 0.3em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: none;
  font-size: 85%;
  user-select: none;
}

.fileInputDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contentBoxSide {
  width: 80%;
}

.inputBlocked {
  background-color: rgb(234, 137, 0);
  user-select: none;
 padding: 0.2em;
 border-radius: 0.5em;
 text-align: center; 
 color: white;
 font-weight: bold;
 text-shadow: black 0.05em 0.05em 0.1em;
  }

  .cardBackgroundDesign {
    background-color: transparent;
    border: 0;
  }


  @media (max-width: 576px) {
    .FAQquestionDesign {
      font-size: 90%;
    }
    .FAQanswerDesign {
      font-size: 70%;
    }
  
    .contentBoxSide {
      width: 95%;
    }
    .inputFormDesign {
      font-size: 100%;
    }
  }